*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 25, .5);
}

.calculatorgrid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120, auto) repeat(5,100px);
}

.calculatorgrid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 102, 55, .90);
}

.calculatorgrid > button:hover{
    background-color: rgba(255, 102, 55, .40);
}

.span-two{
    grid-column: span 2;
}

.display{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .45);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand {
    color: antiquewhite;
    font-size: 1.5rem;
}

.display .current-operand {
    color:white;
    font-size: 2.5rem;
}